.game
    max-width: 1080px
    width: 90%
    margin: 0 auto
    .game_header
    .game_body
        margin: 2rem 0
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: .5rem
        button
            padding: 2rem
            background-color: #eee
            transition: all 300ms ease
            &:hover, 
            &.selected
                background-color: #ddd
                transition: all 300ms ease
            &.selected:hover
                background-color: #ccc
            &:hover
                transform: scale(1.025)
            &.selected
                cursor: not-allowed
    .game_footer
        p
        .buttons
            display: flex
            justify-content: flex-end
            margin: 1rem 0 0
            button
                padding: 1rem
                background-color: tomato
                color: white
